@using Microsoft.AspNetCore.Identity
@using EnterpriseWeb.Areas.Identity.Data

@inject SignInManager<IdeaUser> SignInManager
@inject UserManager<IdeaUser> UserManager
@model List<EnterpriseWeb.Models.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <p>
                <a asp-action="Create">Create Category</a>
            </p>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">All Category</h3>
                <div class="card-tools">
                    <div class="input-group-append">
                        <form asp-action="ViewCategory" method="get">
                          <p>
                              <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                              <button class="btn btn-navbar" type="submit" value="Search"><i class="fas fa-search"></i></button>
                          </p>
                    </form>
                
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                       <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Home Address</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Manage Roles</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.DOB</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@string.Join(" , ", item.Roles.ToList())</td>
                            <td>
                            <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage"
                            asp-route-userId="@item.UserId">Manage Roles</a>
                        </td>
                          <td>
                            @* <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.UserId" class = "btn btn-dark"><i class = "fas fa-eye"></i></a> *@
                            <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-danger"><i class = "fas fa-eye"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger"><i class = "fas fa-trash"></i></a>
                            @* <a id="delete" asp-area="Identity" asp-page="DeletePersonalData" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a> *@
                          </td>         
                        </tr>
                      }
                  </tbody>
                </table>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
