@model EnterpriseWeb.Models.Idea

@{
  ViewData["Title"] = "Details";
}

@{
  var ratingUp = Model.Ratings.GroupBy(u => u.IdeaID).Sum(g => g.Sum(u => u.RatingUp));
  var ratingDown = Model.Ratings.GroupBy(d => d.IdeaID).Sum(g => g.Sum(d => d.RatingDown));
  var totalComment = Model.Comments?.Count() ?? 0;
}



<div id="blog" class="flex-container"
  style="padding:30px; border: 0.5px outset; width:70%; margin:auto; margin-bottom:20px; border-radius:20px; background: rgb(247 247 247); margin-top: 20px;">
  <div class="col-md-8 col-sm-8 col-xs-12" style="margin: auto; ">
    <div class="single-blog">
      <div>
        @if (Model.IdeaUser != null && Model.IdeaUser.ProfilePicture == null)
        {
          <img class="avatar-default" style="object-fit: cover;height: 150px;border-radius: 50%;width: 150px;" />
        }
        else if (Model.IdeaUser != null && Model.IdeaUser.ProfilePicture != null)
        {
          <img src="data:image;base64,@System.Convert.ToBase64String(Model.IdeaUser.ProfilePicture)"
            style="object-fit: cover;height: 150px;border-radius: 50%;width: 150px;" />
        }
        <h4 style="display: inline-block; padding-left:20px;">@Html.DisplayFor(model => model.IdeaUser.Name)
          <br>
          <span style="font-size:15px; text-align:center; display:block">&lt; Department: @Html.DisplayFor(model =>
            model.Department.Name) &gt;</span>

        </h4>
      </div>
      <div class="blog-meta">
        <span class="date-type">
          <i class="fa fa-calendar"></i>Submission Date: @Html.DisplayFor(model => model.SubmissionDate)
          <br>
          <i class='fas fa-calendar-times' style="color:rgba(255, 0, 0, 0.751)"></i>Closure Date:
          @Html.DisplayFor(model => model.ClosureDate.FinalDate)
        </span>
      </div>
      <div class="blog-text">
        <h4>
          Title:
          <b>@Html.DisplayFor(model => model.Title)</b>
        </h4>
        <p>
          <b>Description: &ldquo;</b>
          <i>
            @Html.DisplayFor(model => model.Description)
          </i>
          <b>&rdquo; &middot;</b>
        </p>
      </div>

      <a>
        <i class="far fa-eye"></i> View: @Html.DisplayFor(model => model.Viewings.Count)
        <i class="far fa-comment" style="padding-left: 15px"></i> Comments: @totalComment
        <i class="far fa-thumbs-up" style="padding-left: 15px"></i> Rating Up: @ratingUp
        <i class="far fa-thumbs-down" style="padding-left: 15px"></i> Rating Down: @ratingDown
      </a>

      <br><br>
      <div>
        <dl id="comments-list" class="row comment-list" style="margin-bottom: 0rem;">
          @for (var i = 0; i < Math.Min(Model.Comments.Count(), 5); i++)
          {
            Comment[] commentArray = Model.Comments.ToArray();
            <dd class="col-sm-10">
              <strong>
                @if (commentArray[i].status == 1)
                {
                  @Html.DisplayFor(modelItem => commentArray[i].IdeaUser.Name)
                }
                else
                {
                  <text>Anonymous</text>
                }:
              </strong>

              @Html.DisplayFor(modelItem => commentArray[i].CommentText)
              <br>
            </dd>
          }
        </dl>
        @* Hidden list *@
        <dl id="comments-list-hidden" class="row comment-list" style="display:none">
          @for (var i = 5; i < totalComment; i++)
          {
            Comment[] commentArray = Model.Comments.ToArray();
            <dd class="col-sm-10">
              <strong>
                @if (commentArray[i].status == 1)
                {
                  @Html.DisplayFor(modelItem => commentArray[i].IdeaUser.Name)
                }
                else
                {
                  <text>Anonymous</text>
                }:
              </strong>

              @Html.DisplayFor(modelItem => commentArray[i].CommentText)
              <br>
            </dd>
          }
        </dl>
        @if (totalComment > 5)
        {
          <button id="show-more" class="show-more">Show more</button>
        }
      </div>


      <div>
        <a style="padding-left: 0" class="far fa-thumbs-up btn btn-light" asp-action="DetailRating"
          asp-route-id="@Model.Id" asp-route-isUp="true"> Thumb Up</a>
        @* <a class="fas fa-thumbs-up btn btn-light" asp-action="DetailRating" asp-route-id="Model.Id"
        asp-route-isUp="true"> Thumb Up</a> *@
        <a class="far fa-thumbs-down btn btn-light" asp-action="DetailRating" asp-route-id="@Model.Id"
          asp-route-isUp="false"> Thumb Down</a>
        @* <a class="fas fa-thumbs-down btn btn-light" asp-action="DetailRating" asp-route-id="Model.Id"
        asp-route-isUp="false"> Thumb Down</a> *@
      </div>

      <br>

      <form asp-action="Comment" asp-route-id="@Model.Id">
        <div class="input-group" style="width:500px">
          <input class="form-control" name="commenttext" placeholder="Comment" />
          <select name="incognito">
            <option value="no">Public</option>
            <option value="yes">Incognito Comment</option>
          </select>
          <input type="submit" value="Comment" class="btn btn-dark" style="display:" />
        </div>
      </form>

    </div>
  </div>
</div>





<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    var showMoreBtn = $('#show-more');
    var commentsListHidden = $('#comments-list-hidden');

    showMoreBtn.click(function() {
      if (commentsListHidden.is(':visible')) {
        commentsListHidden.hide();
        showMoreBtn.text('Show more');
      } else {
        commentsListHidden.show();
        showMoreBtn.text('Show less');
      }
    });
  });
</script>
