@model EnterpriseWeb.Models.Idea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportingDocuments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportingDocuments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosureDate.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Comments)
            {
                <strong>
                    <strong>
                        @item.IdeaUser?.Name:
                    </strong>
                </strong>
                @Html.DisplayFor(modelItem => item.CommentText)
                ;
                <br>
            }
        </dd>
    </dl>
</div>

<div class="col-md-4">
    <form asp-action="Comment" asp-route-id="@Model.Id">
        <input class="form-control" name="commenttext" placeholder="Comment" />
        <input type="submit" value="Comment" class="btn btn-primary" />
        <select name="incognito">
            <option value="no">Public</option>
            <option value="yes">Incognito Comment</option>
        </select>
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @if (Model.ClosureDate != null && Model.ClosureDate.ClousureDate > DateTime.Now)
    {
        <a asp-action="DetailRating" asp-route-id="@Model.Id" asp-route-isUp="true">Up</a>
        <text>|</text>
        <a asp-action="DetailRating" asp-route-id="@Model.Id" asp-route-isUp="false">Down</a>
    }
    else
    {
        <div class="alert alert-danger">
            The closure date has passed.
        </div>
    }
</div>
