@model IEnumerable<EnterpriseWeb.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="ExportIdeaList" type="submit" class="btn btn-secondary">Export Idea List</a>
    <a asp-action="Chart" class="btn btn-warning">Chart</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdeaUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportingDocuments)
            </th>
            <th>
                View
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosureDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var totalViews = item.Viewings.GroupBy(v => v.IdeaId).Sum(g => g.Sum(v => v.Count));
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeaUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportingDocuments)
                </td>
                <td>
                    @totalViews
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosureDate.FinalDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @if (item.ClosureDate != null && item.ClosureDate.ClousureDate > DateTime.Now)
                    {
                        <a asp-action="CreateRating" asp-route-id="@item.Id" asp-route-isUp="true">Up</a>
                        <text>|</text>
                        <a asp-action="CreateRating" asp-route-id="@item.Id" asp-route-isUp="false">Down</a>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            The closure date has passed.
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
