@model IEnumerable<EnterpriseWeb.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportingDocuments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosureDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportingDocuments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosureDate.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @if (item.ClosureDate != null && item.ClosureDate.ClousureDate > DateTime.Now)
                    {
                        <a asp-action="CreateUp" asp-route-id="@item.Id">Up</a>
                        <text>|</text>
                        <a asp-action="CreateDown" asp-route-id="@item.Id">Down</a>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            The closure date has passed.
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
